body {
  background: linear-gradient(-30deg, #202020, #303030, #202020);
}
header {
  position: static;
  display: block;
  transform: translateY(-10pt);
  padding: 20pt;
  height: 25pt;
  max-height: 25pt;
  min-height: 25pt;
  background-color: #343434;
  border-radius: 0 0 10pt 10pt;
  box-shadow: 0 0 10px #101010;
  transition: all 300ms;
}
header:hover {
  box-shadow: 0 0 15px #00a6ff;
}
.headerTable {
  direction: ltr;
  text-align: right;
  color: #fefefe;
}
tr {
  color: #fefefe;
  direction: rtl;
  text-align: right;
}
.hfOpt {
  padding-left: 50pt;
  transition: all 300ms;
  cursor: pointer;
}
.hf:hover {
  font-size: 15pt;
}
footer {
  background-color: #343434;
  display: block;
  position: absolute;
  bottom: 0;
}
.footerTable {
  direction: rtl;
  padding: 10pt;
  width: max-content;

  color: #efefef;
}
a {
  color: #efefef;
}
#content {
  direction: rtl;
  color: #efefef;
  background-color: #45454567;
  border-radius: 15pt;
  margin: 20px;
  box-shadow: 0 0 20pt #030303;
  padding: 20px;
}
input {
  background-color: #121212;
  border-radius: 10px;
  color: #efefef;
}
textarea {
  background-color: #121212;
  border-radius: 10px;
  color: #efefef;
}
button {
  background-color: #121212;
  border-radius: 10px;
  color: #efefef;
}
